---
import Layout from '../layouts/Layout.astro';
import Button from '../components/Button.astro';
import Icon from '../components/Icon.astro';
import Card from '../components/Card.astro';
---

<Layout>
    <main>
        <header class="flex flex-col md:flex-row md:justify-between mx-[4%]">
            <div class="flex justify-center items-center">
                <img src="/alekai.png" alt="alekai logo" class="w-[70px]" />
                <h1>alekai</h1>
            </div>
            <nav class="flex justify-center items-center gap-6">
                <Icon name="youtube" />
                <Icon name="discord" />
                <Icon name="instagram" />
                <Icon name="twitter" />
            </nav>
        </header>
        <section
            class="mt-16 md:mt-24 flex flex-col-reverse md:flex-row md:justify-between items-center mx-[10%] xl:mx-[15%]"
        >
            <div>
                <p
                    class="text-3xl font-bold text-center mt-4 md:mt-0 md:text-left"
                >
                    Objetivo: Ayudar a <span class="text-[#127021]"
                        >100.000 jóvenes</span
                    > a llegar a su <span class="text-[#127021]"
                        >máximo potencial</span
                    >
                </p>
                <div
                    class="flex flex-row gap-3 justify-center md:justify-normal"
                >
                    <Button type="primary">Únete</Button>
                    <Button type="secondary">Discord</Button>
                </div>
            </div>
            <img src="/alekai-image.png" alt="alekai logo" class="" />
        </section>
        <section
            class="mt-28 md:mt-64 flex flex-col justify-center items-center mx-[10%] xl:mx-[15%]"
        >
            <p class="text-3xl font-bold text-center mt-4 md:mt-0 md:text-left">
                Llega a tu <span class="text-[#127021]">máximo potencial</span>
            </p>
            <div
                class="mt-4 relative overflow-hidden w-full pt-[70%] md:w-[80%] md:pt-[50%] xl:w-[70%] xl:pt-[40%]"
            >
                <iframe
                    src="https://youtube.com/embed/rgfFaQnKapI"
                    class="absolute top-0 left-0 bottom-0 right-0 w-full h-full"
                ></iframe>
            </div>
        </section>
        <section
            class="mt-12 md:mt-24 flex flex-col justify-center items-center mx-[10%] xl:mx-[15%]"
        >
            <p class="text-3xl font-bold text-center mt-4 md:mt-0 md:text-left">
                Algunos <span class="text-[#127021]">links</span> que te pueden <span
                    class="text-[#127021]">interesar</span
                >
            </p>
			<div class="w-full flex flex-col items-center gap-6 lg:gap-0 lg:flex-row justify-between mt-4">
				<Card image="/notion.png" alt="logo notion alekai">Plantilla de objetivos notion</Card>
				<Card image="/forms.png" alt="logo google forms alekai">Rutinas Gym Alekai</Card>
				<Card image="/spotify.png" alt="logo spotify alekai">Playlist Alekai</Card>
				<Card image="/discord.png" alt="logo discord alekai">Discord Alekai</Card>
			</div>
        </section>
    </main>
</Layout>
