---
import Icon from '../components/Icon.astro';
---

<nav class="flex justify-center items-center gap-6">
    <Icon name="youtube" />
    <Icon name="discord" />
    <Icon name="instagram" />
    <Icon name="twitter" />
</nav>