---
import Icon from '../components/Icon.astro';
---

<nav class="flex justify-center items-center gap-6">
    <a href="https://www.youtube.com/channel/UCUTZRJ9ORgxM2duT5mbGGTg" class="hover:cursor-pointer"><Icon name="youtube" /></a>
    <a href="https://discord.gg/beJZ3tmnxZ"><Icon name="discord" class="hover:cursor-pointer"/></a>
    <a href="https://www.instagram.com/alex.blancafort/" class="hover:cursor-pointer"><Icon name="instagram" /></a>
    <a href="https://twitter.com/chiefalekai" class="hover:cursor-pointer"><Icon name="twitter" /></a>
</nav>